<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__SERVICE_LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__AUTOASSIST_HOME__/runtime/bin/autoassist</string>
    <string>supervisor-tick</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AUTOASSIST_ACCOUNT_HOME</key>
    <string>__ACCOUNT_HOME__</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>__AUTOASSIST_HOME__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>__AUTOASSIST_HOME__/state/logs/supervisor.out.log</string>
  <key>StandardErrorPath</key>
  <string>__AUTOASSIST_HOME__/state/logs/supervisor.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
